<!DOCTYPE html>
<html lang="es"> <!-- Definimos el idioma de la página como español -->
<head>
    <meta charset="UTF-8"> <!-- Especificamos la codificación de caracteres para admitir caracteres especiales -->
    <title>Bienvenido a Flask MVC</title> <!-- Título de la página web -->
</head>
<body>
    <h1>¡Hola, bienvenido a la aplicación Flask!</h1> <!-- Mensaje de bienvenida en un encabezado -->
    <p>Puedes visitar <a href="/saludo">esta página</a> para probar la funcionalidad.</p> 
    <!-- Enlace a la página "/saludo" para probar la funcionalidad de Flask -->
</body>
</html>
